<ion-view view-title="Clientes cadastrados">
  <ioncontent ng-controller="AppCtrl">
    <br><br><br>
    <button class="button button-positive button-block" ng-click="consultaCliente()"> Consultar Clientes </button>
        
    <ion-list>
      <ion-item ng-repeat="cliente in clientes" class="item-text-wrap">

        ID Cliente:  {{ cliente.id_cliente}}<br>
        Cliente:     {{ cliente.nomecliente }}<br>
        CNPJ:        {{ cliente.cnpj }} <br>
        Endereco:    {{ cliente.endereco }}<br>
        Telefone:    {{ cliente.telefone }}<br> 

        <ion-option-button class="button-assertive" ng-click="openModalCliente(cliente)">Alterar</ion-option-button>
        <ion-option-button class="button-dark" ng-click="openModalCliente(cliente)">Excluir</ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>         
</ion-view>

<!-- script do modal -->

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon ion-ios-close-empty" ng-click="closeModal()"></button>

      <div class="buttons">
        <h1 class="title">Atualizar Cliente</h1>
      </div>
    </ion-header-bar>
    <ion-content>
             
      <label class="item item-input">
        <input type="number" placeholder="Id Cliente" ng-model="cliente.id_cliente">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Cliente" ng-model="cliente.nomecliente">
      </label>

      <label class="item item-input">
        <input type="number" placeholder="CNPJ" ng-model="cliente.cnpj">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Endereco" ng-model="cliente.endereco">
      </label>

      <label class="item item-input">
        <input type="number" placeholder="Telefone" ng-model="cliente.telefone">
      </label>

      <button class="button button-dark button-block" ng-click="atualizaCliente()"> Atualizar</button>

      <button class="button button-assertive button-block" ng-click="deleteCliente(cliente)">Deletar</button>
    </ion-content>
  </ion-modal-view>
</script>