/* Empty. Add your own CSS if you like */

.img-responsive{

	width: 100%;
	height: auto;

}

.img-profile{

	width: 50%;
	height: auto;

	border-radius: 20px;
	align-self: center;

}

.card-radius {

	align-self: center;
	border-radius: 30px;

}

.card-redondo {

	border-radius: 20px;
}

